<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p class="teal-text text-lighten-2">Clave</p>
    <%= f.text_field :course %>
  </div>
  <div class="field">
    <p class="teal-text text-lighten-2">Nombre de la Materia</p>
    <%= f.text_field :c_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
