<div class="container">  
  <div class="container">
    <div class="card">
      <div class="container">
        <br><br>
        <h5 class="header col s12 blue-grey-text text-darken-3">Para crear una nueva actividad, complete los siguientes campos.</h5>
        <br>
        <%= form_for(@activity) do |f| %>
          <% if @activity.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

              <ul>
              <% @activity.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <p class="blue-grey-text text-darken-3">Nombre</p>
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <p class="blue-grey-text text-darken-3">Capítulo</p>
            <%= f.text_field :chapter %>
          </div>
          <div class="field">
            <p class="blue-grey-text text-darken-3">Instrucciones</p>
            <%= f.text_area :instruction %>
          </div>
          <div class="field">
            <p class="blue-grey-text text-darken-3">Descripción</p>
            <%= f.text_field :desc %>
          </div>
          <div class="field">
            <p class="blue-grey-text text-darken-3">Archivos adjuntos</p>
            <%= f.text_field :attachments %>
          </div>
          <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Continuar</button>
          </div>
        <% end %>
        </table>
        <br>
        <br><br>
      </div>
    </div>
  </div>
</div>
