<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Dashboard</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Activities</h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="assets/background4.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <p id="notice"><%= notice %></p>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Chapter</th>
            <th>Instruction</th>
            <th>Desc</th>
            <th>Attachments</th>
            <th>User</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @activities.each do |activity| %>
            <tr>
              <td><%= activity.name %></td>
              <td><%= activity.chapter %></td>
              <td><%= activity.instruction %></td>
              <td><%= activity.desc %></td>
              <td><%= activity.attachments %></td>
              <td><%= activity.user %></td>
              <td><%= link_to 'Show', activity %></td>
              <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
              <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Activity', new_activity_path %>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
      </div>
    </div>
    <div class="parallax"><img src="assets/background4.jpg" alt="Unsplashed background img 2"></div>
  </div>
</body>
</html>
