<!DOCTYPE html>
<html>
<head>
  <title>Bienvenido al portal</title>
  <%= stylesheet_link_tag    'materialize', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<body background="/background.jpg">
		<%= render 'layouts/navbar'%>
		<main>
			<%= yield %>
		</main>
	</body>
	<%= render 'layouts/footer'%>

